# after updating these create a .env in the root folder and put these environment variables in that.

PORT = 8000 # or any other port number
MONGODB_URI = #YOUR CONNECTION STRING (without database , only cluster connection)
CORS_ORIGIN = "*" # change the cors-origins to your preferences.
ACCESS_TOKEN_SECRET = # Enter your access token secret, you can write any string, or an encrypted string. 
ACCESS_TOKEN_EXPIRY = # Provide expiry time for your access token e.g. 1d
REFRESH_TOKEN_SECRET = # Enter your refresh token secret, you can write any string, or an encrypted string.
REFRESH_TOKEN_EXPIRY = # Provide expiry time for your refresh token, and must be more than that of access token expiry. e.g. 10d

# ENVIRONMENT variables for CLOUDINARY for saving media.
CLOUDINARY_CLOUD_NAME = # replace with your Cloudinary Cloud Name
CLOUDINARY_API_KEY = # Replace with your Cloudinary API key
CLOUDINARY_API_SECRET = # Replace with your Cloudinary API Secret